* {
    border: 0px;
    margin: 0px;
    padding: 0px;
}
html {
    scroll-behavior: smooth;
}
@import "scss/personal";
body {
    background-color: #3b3a39;
    overflow-y: visible;
    overflow-x: hidden;
}
@import "scss/memories";
@import "scss/card";
